@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<h1>Welcome @Context.Session.GetString("username")</h1>
<a class="btn btn-success" asp-action="Show">Show All</a>
<br />
<br />
<a class="btn btn-danger" asp-action="Remove">Remove</a>
