@{
    ViewData["Title"] = "Login";
}
@if (ViewBag.SignUpSuccess != null)
{
    <div class="alert alert-success">
        @ViewBag.SignUpSuccess
    </div>
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
<div class="card mx-auto mt-5" style="max-width: 400px;">
    <div class="card-body">
        <h2 class="card-title text-center">LOGIN PAGE</h2>
        <form asp-action="Login">
            <div class="mb-3 mt-3">
                <label for="username" class="form-label">account no:</label>
                <input type="text" class="form-control" id="accNo" placeholder="Enter username" name="accNo">
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">pin code:</label>
                <input type="password" class="form-control" id="pinCode" placeholder="Enter password" name="pinCode">
            </div>
            <input type="submit" value="Sign In" class="btn btn-primary btn-block" />
        </form>
    </div>
</div>
