
@{
    ViewData["Title"] = "Login";
}

@{
    // Kiểm tra và hiển thị thông báo lỗi
    if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
}

<div class="container mt-3">
    <h2>LOGIN</h2>
    <form asp-action="Login">
        <div class="mb-3 mt-3">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
        </div>
        <div class="mb-3">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
        </div>
        <input type="submit" value="Login" class="btn btn-primary" />
    </form>
</div>

