@model IEnumerable<hw1.Models.tbNews>

@{
    ViewData["Title"] = "ShowAllNews";
}

<h1>ShowAllNews</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentOfNews)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentOfNews)
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Admin" class="btn btn-success">back</a>
