@model IEnumerable<homework_2.Models.TbPerson>

@{
    ViewData["Title"] = "RemovePage";
}

<h1>RemovePage</h1>
@if (ViewBag.error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.error
    </div>
}
<p>
    <a asp-action="menu">Back</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Username">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
